<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>notchFilterOn</key>
	<false/>
	<key>highFilterFreq</key>
	<string>4000</string>
	<key>lowFilterFreq</key>
	<integer>0</integer>
	<key>numSamplesMin</key>
	<string>10</string>
	<key>numSamplesMax</key>
	<string>132300</string>
	<key>numSamplesVisibleThreshold</key>
	<string>1000</string>
	<key>numSamplesVisible</key>
	<string>1000</string>
	<key>stimulationPulseFrequency</key>
	<integer>20</integer>
	<key>stimulationDigitalMessageFrequency</key>
	<integer>20000</integer>
	<key>numPulsesInDigitalStimulation</key>
	<integer>100</integer>
	<key>stimulationDigitalDuration</key>
	<integer>1</integer>
	<key>stimulationDigitalDutyCycle</key>
	<real>0.5</real>
	<key>stimulationPulseDuration</key>
	<integer>1</integer>
	<key>stimulationDigitalFrequency</key>
	<integer>100</integer>
	<key>stimulationToneFrequency</key>
	<integer>100</integer>
	<key>stimulationToneDuration</key>
	<real>1</real>
	<key>pulseDutyCycle</key>
	<real>0.5</real>
	<key>numPulsesInBiphasicStimulation</key>
	<integer>100</integer>
	<key>maxStimulationAmplitude</key>
	<real>1</real>
	<key>minStimulationAmplitude</key>
	<integer>-1</integer>
	<key>stimulationType</key>
	<integer>2</integer>
	<key>gain</key>
	<integer>1</integer>
	<key>threshold</key>
	<real>0.025</real>
	<key>tabIndex</key>
	<integer>0</integer>
	<key>numSecondsMax</key>
	<integer>6</integer>
	<key>numSecondsMin</key>
	<integer>0</integer>
	<key>numSecondsVisible</key>
	<real>0.1</real>
	<key>numVoltsMin</key>
	<real>0.05</real>
	<key>numVoltsMax</key>
	<integer>4</integer>
	<key>numVoltsVisible</key>
	<real>1.6</real>
	<key>numSecondsMaxThreshold</key>
	<integer>6</integer>
	<key>numSecondsMinThreshold</key>
	<integer>0</integer>
	<key>numSecondsVisibleThreshold</key>
	<real>0.1</real>
	<key>numVoltsMinThreshold</key>
	<real>0.05</real>
	<key>numVoltsMaxThreshold</key>
	<integer>4</integer>
	<key>numVoltsVisibleThreshold</key>
	<real>1.6</real>
</dict>
</plist>
