<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>numSamplesMaxThresholdNew</key>
	<string>105840</string>
	<key>notchFilterOn</key>
	<false/>
	<key>highFilterFreq</key>
	<string>10000</string>
	<key>lowFilterFreq</key>
	<integer>0</integer>
	<key>numSamplesMin</key>
	<string>10</string>
	<key>numSamplesMaxNew</key>
	<string>264600</string>
	<key>numSamplesVisibleThreshold</key>
	<string>1000</string>
	<key>numSamplesVisible</key>
	<string>1000</string>
	<key>gain</key>
	<integer>1</integer>
	<key>threshold</key>
	<real>0.025</real>
	<key>tabIndex</key>
	<integer>0</integer>
	<key>numSecondsMax</key>
	<integer>6</integer>
	<key>numSecondsMin</key>
	<integer>0</integer>
	<key>numSecondsVisible</key>
	<real>0.1</real>
	<key>numVoltsMin</key>
	<real>0.05</real>
	<key>numVoltsMaxUpdate1</key>
	<integer>40</integer>
	<key>numVoltsVisible</key>
	<real>1.6</real>
	<key>numSecondsMaxThreshold</key>
	<integer>6</integer>
	<key>numSecondsMinThreshold</key>
	<integer>0</integer>
	<key>numSecondsVisibleThreshold</key>
	<real>0.1</real>
	<key>numVoltsMinThreshold</key>
	<real>0.05</real>
	<key>numVoltsMaxThresholdUpdate1</key>
	<integer>40</integer>
	<key>numVoltsVisibleThreshold</key>
	<real>1.6</real>
</dict>
</plist>
